@media (max-width:1000px) and (min-width:240px) {
    .UserText {
        margin-bottom: 12px;
    }

    .UserText, .MarkdownText {
        margin-left: 0;
        margin-right: 0;
        float: none;
    }

    .App {
        padding-left: 24px;
        padding-right: 24px;
    }

    .App, .UserText, .MarkdownText {
        width: 100%;
    }
}